.wrapper_n {
    min-width: 320px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}
.container_n {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}
.title_n {
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    width: 195px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    color: #ffffff;
    background-color: #000000;
    padding-top: 1px;
}
.text_primary_n {
    font-size: 9px;
    line-height: 11px;
    font-weight: 700;
    color: #ff6600;
    width: 220px;
    margin-left: 45px;
    position: relative;
    margin-bottom: 15px;
}
.text_primary_n::before {
    content: '/';
    font-size: 26px;
    line-height: 30px;
    position: absolute;
    left: -20px;
    top: -5px;
    color: #000000;
    font-weight: 300;
}
.container_n>img {
    margin-bottom: 25px;
    margin-left: 70px;
}
.subtitle_n {
    font-size: 9px;
    line-height: 13px;
    font-weight: 900;
    width: 175px;
    margin-left: 77px;
    position: relative;
    margin-bottom: 40px;
}
.subtitle_n::before {
    content: '';
    width: 15px;
    position: absolute;
    top: 6px;
    left:-25px;
    border-bottom: 2px solid #000;
}
.text_secondary_n  {
    width: 240px;
    margin-left: 30px;
    font-size: 9px;
    line-height: 13px;
    font-weight: 900;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.list_n {
    padding-left: 20px;
    margin-left: 53px;
    width: 205px;
    font-size: 9px;
    line-height: 13px;
    margin-bottom: 0px;
    counter-reset: number;
    list-style: none;
    margin-bottom: 35px;
}
.list-item_n {
    margin-bottom: 20px;
    position: relative;
}
.list-item_n:last-of-type {
    margin-bottom: 0px;
}
.list-item_n::before {
    counter-increment: number;
    content: "[ 00" counter(number) " ]";
    position: absolute;
    top: 12px;
    left: -30px;
    display: inline-block;
    transform: rotateZ(-90deg);
    font-size: 8px;
    line-height: 12px;
    color: #ffffff;
    background-color: #ff6600;
    font-weight: 700;
    padding: 0px 3px 0px 3px;
}
.list-item_n::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -22px;
    background-color: #ffffff;
    width: 5px;
    height: 30px;
}
.list-item_n>h6 {
    margin-bottom: 10px;
    font-weight: 900;
}